body {
    display: grid;
    grid-template-areas: 
        "header header header header header aside aside"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "main main main main main aside aside"
        "footer footer footer footer footer aside aside"
        "footer footer footer footer footer aside aside"
    ;
    grid-template-columns: repeat(12,5fr);
    grid-template-rows: 30px 100px 20px 20px 20px 30px 10px;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: burlywood;
}

header lu li{
    display: inline-block
}

main {
    grid-area: main;
    background-color: aqua
}

main aside {
    grid-area: aside;
    background-color: blueviolet;
}

footer {
    grid-area: footer;
    background-color: cornflowerblue;
}