/* Alumno: Sebastián Scandallo - Comisión 23500 - 
Figma: https://www.figma.com/file/sw3YtaodFpyMfzThLBC2nU/Patio-Alameda?node-id=0%3A1 */


/* ***Index*** */
/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;    color: #333;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #333;
    margin: 0;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Imagen principa, que luego puede ser slider o scroller */
.imageMain {
    width: 100%;
    margin: 0;
}


/* Estilo del HEADER y FOOTER */

.header {
    background: #6cedd3d3;
    color: white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a, .footer a {
    color: white;
    text-decoration: none;
}

.logoNavLinea1 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
    font-size: 1.3em;
    color: #333;
}

.logoNavLinea2 {
    color: rgb(65, 87, 43);
}

.logoNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul, .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a, .footer ul li a {
    display: block;
    padding: 0.5rem 2rem;
    transition: all 0.4s linear;
    color: #333;
    font-size: 15px;

}

.navigation ul li a:hover {
    background: #49ebca;
    border-radius: 10px;
}

.emoji {
    font-size: 30px;
}


/*Estilo del main*/
.main section p {
    margin-bottom: 1.6em;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
}

section h1 {
    padding: 2rem 0;
}

main {
    background: #CFABD1;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.section {
    padding-bottom: 2rem;
}


/* Estilo del layout logo */
.logoLinea1 {
    letter-spacing: 3px;
    font-size: 1.5em;
    line-height: 1.1em;
    color: #333;
}

.logoLinea2 {
    letter-spacing: 1.3px;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(65, 87, 43);
}

.logo {
    text-align: center;
}

.tituloSection {
    font-size: 2rem;
}

#hayEquipo {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}

.logos {
    border-top:solid 5px black;
    border-right:solid 10px black;
    border-bottom:solid 7px black;
    border-left:solid 12px black;
}

.logos123, .logos456 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.logos img {
    width: 12rem;
}

footer {
    background: #92847b;
    left: 0;
    top: 0;
    width: 100%;
}

.favicon {
    width: 2rem;
}

.copiright {
    background: black;
    width: 100%;
    color: white;
    text-align: center;
}


/* *** Carta *** */
dl dt {
    font-weight: bold;
}

.cartaTitulo {
    padding: 8rem 0 2rem 0;
    font-size: 2rem;
}

iframe {
    padding: 7rem;
}

.cartaLogos img {
    width: 10rem;
    padding: 0;
}

.cartaLogos {
    display: flex;
    justify-content: space-between;
}

/* *** Ubicación *** */
iframe {
    margin: 0 auto;
}

/* *** Reservas *** */
