.multimediaStyle {
  border-radius: 25px; }

* {
  margin: 0;
  padding: 0; }

.containerBar {
  font-size: 15px; }
  .containerBar__menu {
    transition: all 0.4s linear;
    color: #333;
    font-family: Arial, Helvetica, sans-serif; }
    .containerBar__menu--disabled {
      font-style: italic; }
  .containerBar__menu:hover {
    background: #b3166caf;
    border-radius: 10px; }

.navbar-brand {
  font-family: "Oswald", sans-serif; }

.articleSection {
  background-color: aquamarine;
  text-align: center; }
  .articleSection__h1, .articleSection h4 {
    font-family: "Oswald", sans-serif; }
  .articleSection__h1 {
    font-size: 4rem; }
  .articleSection__h4 {
    font-size: 1.5rem; }

.textoDescripcion {
  color: #3f3c3c;
  font-size: medium; }
  .textoDescripcion__emoji {
    font-size: xx-large; }
  .textoDescripcion__producto {
    color: tomato;
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
    font-weight: bolder; }
  .textoDescripcion__texto {
    color: #3f3c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium; }
  .textoDescripcion__h4 {
    color: #3f3c3c;
    font-size: 1.5rem;
    text-align: center; }

.logos {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "birra trevi papas" "social cuadra drink";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr repeat(2, 3fr);
  text-align: center;
  align-items: center;
  row-gap: 2rem;
  width: 96%; }
  .logos__titulo {
    grid-area: titulo; }
  .logos__logo--birra {
    grid-area: birra; }
  .logos__logo--cuadra {
    grid-area: cuadra; }
  .logos__logo--papas {
    grid-area: papas; }
  .logos__logo--social {
    grid-area: social; }
  .logos__logo--trevi {
    grid-area: trevi; }
  .logos__logo--drink {
    grid-area: drink; }

/* Imgagenes responsive y animaciones*/
.logos__responsive {
  border-radius: 10%;
  width: 60%;
  height: auto; }
  .logos__responsive:hover {
    transform: scale(1.1, 1.1);
    z-index: 9; }

.logosCartaResponsive {
  border-radius: 10%;
  width: 10%;
  height: auto;
  margin: 1rem 2rem; }
  .logosCartaResponsive:hover {
    transform: scale(1.2, 1.2);
    z-index: 9; }

/*Footer*/
.footer {
  margin-top: 2rem; }

/*LA CARTA*/
.cartaTitulo {
  padding: 8rem 0 2rem 0;
  font-size: 2rem; }

.imageMain {
  width: 100%;
  margin: 0; }

.containerCarta {
  margin-top: 8rem; }

/*RESERVAS*/
.containerReservas {
  margin-top: 6rem; }

/*EVENTOS*/
.evento {
  margin-top: 5rem; }

.ubic {
  margin-top: 5rem; }

@media (max-width: 750px) {
  .articleSection {
    background-color: white; } }

@media (max-width: 750px) {
  .cartaLogos img, .imagenResponsive {
    margin: 5px 5px; } }
