// npm run watch-css

// Variables
$fuente-logo: 'Oswald', sans-serif;
$color-logo: rgb(46, 44, 44);
$fuente-navbar: Arial, Helvetica, sans-serif;
$estilo-disabled: italic;
$hover-bg: #b3166caf;
$bg-aqua: rgb(168, 210, 226);
$texto-centrado: center;
$texto-color: rgb(63, 60, 60);
$tamaño-emojis: xx-large;
$tomato: tomato;
$curier: 'Courier New', Courier, monospace;
$textoLogo-tamaño: 4rem;

// Mapas
$headings: (
    h1:4rem,
    h2:3rem,
    h3:2rem,
    h4:1.5rem,
    h5:1.2rem,
    h6:1rem,
);

$h1: map-get($headings, h1);
$h3: map-get($headings, h3);
$h4: map-get($headings, h4);


// Mixin
@mixin textoDescriptivo {
    color: $texto-color;
    font-family: $fuente-navbar;
    font-size: medium;
}

// Import
@import
    "../styles/base";


* {
    margin: 0;
    padding: 0;
}

// Estilo y efectos Navbar
.containerBar {
    font-size: 15px;
    &__menu {
        transition: all 0.4s linear;
        color: #333;
        font-family:$fuente-navbar;
        &--disabled {
            font-style: $estilo-disabled;
        }
    }
    &__menu:hover {
        background: $hover-bg;
        border-radius: 10px;
    }
}

.navbar-brand {
    font-family: $fuente-logo;
}

// ..:: Index ::..
// Main
.articleSection {
    background-color: $bg-aqua;
    text-align: $texto-centrado;
    &__h1, h4 {
    font-family: $fuente-logo;
    }
    &__h1 {
    font-size: $h1;
    }
    &__h4 {
    font-size: $h4;
    }
}

.textoDescripcion {
    color: $texto-color;
    font-size: medium;
    
    &__emoji {
        font-size: $tamaño-emojis;
    }

    &__producto {
        color: $tomato;
        font-family: $curier;
        font-size: x-large;
        font-weight: bolder;
    }
    
    &__texto {
        @include textoDescriptivo();
    }
    
    &__h4 {
        color: $texto-color;
        font-size: $h4;
        text-align: center;
    }
}

// logos grid
.logos {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "birra trevi papas"
        "social cuadra drink"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 3fr);
    text-align: center;
    align-items: center;
    row-gap: 2rem;
    width: 96%;
    &__titulo {
        grid-area: titulo;
    }
    &__logo--birra {
        grid-area: birra;
    }
    &__logo--cuadra {
        grid-area: cuadra;
    }
    &__logo--papas {
        grid-area: papas;
    }
    &__logo--social {
        grid-area: social;
    }
    &__logo--trevi {
        grid-area: trevi;
    }
    &__logo--drink {
        grid-area: drink;
    }
}


// Imgagenes responsive y animaciones
.logos__responsive, .containerReservas__img--img {
    border-radius: 10%;
    width: 60%;
    height: auto;
    &:hover {
        transform: scale(1.1, 1.1);
        z-index: 9;
    }
}

.logosCartaResponsive {
    border-radius: 10%;
    width: 10%;
    height: auto;
    margin: 1rem 2rem;
    &:hover {
        transform: scale(1.2, 1.2);
        z-index: 9;
    }
}

.logosPromo__responsive {
    width: 20%;
    height: auto;
}

.imgPromoResponsive {
    width: 15rem;
    height: auto;
}

// Footer
.footer {
    margin-top: 2rem;
}

// LA CARTA
.cartaTitulo {
    padding: 8rem 0 2rem 0;
    font-size: 2rem;
}

.imageMain {
    width: 100%;
    margin: 0;
}

.containerCarta {
    margin-top: 8rem;
}

// RESERVAS
.containerReservas {
    margin-top: 2rem;
    background-color: rgb(157, 196, 223);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5rem 0;
    border-radius: 25px;
    &__img--img {
        width: 220px;
    }
}

.encabezadoForm {
    margin: 8rem 0 0 0;
    text-align: center;
}

.form .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.form input {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.container__form select {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

// EVENTOS
.evento {
    margin-top: 5rem;
}

// Horario
.horario__abierto {
    &--dias, &--horarios {
    font-size: $h3;
    color: $tomato;
    font-family: $fuente-navbar;
    text-align: center;
}
}

// UBICACION
.ubic {
    display: flex;
    justify-content: space-around;
    &__logo {
        width: 150px;
        height: 150px;
    }
    &__map {
        border-radius: 25px;
    }
}

// PROMOCIONES
.mainPromo .containerPromos {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
}

.card {
    width: 300px;
    margin: 25px;
    padding: 40px 20px;
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: all 0.5s ease;
}

.title .fas {
    color: white;
    font-size: 60px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.title h2 {
    color: white;
    font-size: 30px;
    margin-top: 15px;
}

.price {
    color: white;
    font-size: 25px;
}

.option ul {
    margin-top: 20px;
}

.option ul li {
    list-style: none;
    color: white;
}

.card .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: scale(1.05);
}

// media Query
@media (max-width: 750px) {
    .articleSection {
        background-color: white; 
    } 
}

@media (max-width: 750px) {
    .containerReservas__img--img {
        display: none; 
    } 
}

@media (max-width: 750px) {
    .cartaLogos img, .imagenResponsive {
        margin: 5px 5px;
    }
}