* {
    margin: 0;
    padding: 0;
}

.logos {
    display: grid;
    grid-template-areas:
        "titulo titulo titulo"
        "birra cuadra papas"
        "social trevi drink"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr repeat(2, 3fr);
    text-align: center;
    align-items: center;
    row-gap: 2rem;
    width: 96%;
}

/* Imgagenes responsive.*/
.logos img, .imagenResponsive {
    border-radius: 10%;
    width: 60%;
    height: auto;
}

.cartaLogos img, .imagenResponsive {
    border-radius: 10%;
    width: 10%;
    height: auto;
    margin: 1rem 2rem;
}
/*Animaciones*/
.logos img:hover
{	transform: scale(1.2, 1.2);
	z-index: 9;
}

.cartaLogos img:hover
{	transform: scale(1.2, 1.2);
	z-index: 9;
}

#hayEquipo {
    grid-area: titulo;
}

#birra {
    grid-area: birra;
}

#cuadra {
    grid-area: cuadra;
}

#papas {
    grid-area: papas;
}

#social {
    grid-area: social;
}

#trevi {
    grid-area: trevi;
}

#drink {
    grid-area: drink;
}

.footer {
    margin-top: 2rem;
}

.main .container .fondo {
    background-color: aquamarine;
}

/*La Carta*/
.cartaTitulo {
    padding: 8rem 0 2rem 0;
    font-size: 2rem;
}

.imageMain {
    width: 100%;
    margin: 0;
}

.containerCarta {
    margin-top: 8rem;
}

/*media Query*/
@media (max-width: 576px) {
    .main .container .fondo {
    background-color: white; } 
}

@media (max-width: 1200px) {
    .cartaLogos img, .imagenResponsive {
        margin: 5px 5px;
    }
}
